  <h1 align="center">Student Details</h1>
<div class="container">
<div class="well col-md-4">

  <p>
    <strong>Name:</strong>
    <%= @add_student.name %>
 </p>
 <p>
   <strong>Image:</strong>
   <div class="img-circle">
    <%= image_tag @add_student.image.url,class:"img-circle" %>
  </div>
  </p>
  <% if @add_student.my_subjects.any? %>

  <p>
    <strong>Subjects Associated</strong>
    <div class="well col-md-12">
    <ul class="listing"> 
    <% @add_student.student_subjects.each do |student_subject|%>
      <li><strong><%=student_subject.my_subject.name %> :</strong>
          <strong><%=student_subject.marks %></strong>
           &nbsp &nbsp  &nbsp
           <% if student_subject.marks.present? %>
            <%=link_to 'Edit Marks',edit_student_subject_path(@add_student.id,:sub_id =>student_subject.my_subject_id),class:'btn btn-xs btn-warning'%>  
           <% else %>
            <%=link_to 'Add Marks',edit_student_subject_path(@add_student.id,:sub_id =>student_subject.my_subject_id),class:'btn btn-xs btn-warning'%>
           <%end%>
      </li>
      <li>  &nbsp &nbsp  &nbsp</li>
    <% end %>
    </ul>
    </div>
   </p>
  <% end %>
</div>
</div>






